.chat-container{
    height: 550px;
    width: 75%;
    margin: 50px;
    border: 2px solid #000f5a;
    border-radius: 10px;
    padding: 20px;
}

.chat-box{
    height: 300px; 
    width: 80%;
    border: 1px dashed #6881ff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

input{
    width: 80%;
    height: 10%;
    border: 1px solid #790266;
    border-radius: 5px;
    padding-left:15px;
    color: #790266;
    margin: 20px;
}

.btn{
    background-color: #40fe40;
    color: #014501;
    height: 25px;
    padding-left: auto;
    margin: 20px;
    border: 0px;
    border-radius: 5px;

}